.title {
	font-weight: 700;
	font-size: 30px;
	color: #000;
}

.descr {
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

.post {
	position: relative;
}

.icons {
	position: absolute;
	top: 0;
	right: 5px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.icon {
	color: #000;
	cursor: pointer;
	transition: 0.2s all;
	&:hover {
		scale: 1.2;
	}
}

.editForm,
.text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.descriptionInput,
.titleInput {
	width: 70%;
}

.titleInput {
	font-size: 30px;
}

.descriptionInput {
	font-size: 20px;
}
