.post {
	padding: 20px 40px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 32px;
}

.title {
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	color: #000;
}

.descr {
	font-weight: 400;
	font-size: 16px;
	color: #000;
}
