.comment {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.like {
	cursor: pointer;
	transition: 0.2s all;
	&:hover {
		scale: 1.2;
	}
}

.likes {
	display: flex;
	align-items: center;
	gap: 5px;
}

.deleteButton {
	cursor: pointer;
	transition: 0.2s all;
	&:hover {
		scale: 1.2;
	}
}
