.comment {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text {
	display: flex;
	align-items: center;
	gap: 30px;
	color: black;
}

.like {
	cursor: pointer;
	transition: 0.2s all;
	&:hover {
		scale: 1.2;
	}
}

.likes {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 20px;
}

.deleteButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.2s all;
	&:hover {
		scale: 1.2;
	}
}

.commentMessage {
	color: black;
}

.commentUserName {
	font-size: 15px;
}

.interactive {
	display: flex;
	align-items: center;
	gap: 5px;
}

@media (max-width: 450px) {
	.post {
		width: 100%;
	}
	.text {
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}

	.interactive {
		order: 1;
	}

	.commentUserName {
		order: 2;
	}
}
