.header {
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__navlist {
		display: flex;
		gap: 20px;
		list-style-type: none;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		padding: 5px 15px;
		border-radius: 8px;
		transition: 0.2s all;
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;
		&:hover {
			background-color: #424242;
		}
	}

	&__authList {
		display: flex;
		align-items: center;
		gap: 30px;
		font-size: 25px;
	}
}

@media (max-width: 586px) {
	.header {
		flex-direction: column;
		gap: 10px;
		&__authList {
			flex-direction: column;
			gap: 10px;
		}
		&__navlist {
			flex-direction: column;
			gap: 10px;
		}
	}
}
